services:
  aiohttp:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/aio-libs/aiohttp
        APP_VERSION: 72fadb8f1a56e8bff0fef23ccf02e2067cd87e41
      context: ./images/aiohttp
    x-props:
      role: origin
  apache_httpd:
    build:
      args:
        APP_BRANCH: trunk
        APP_REPO: https://github.com/apache/httpd
        APP_VERSION: d7dec4f6765c2bcb25ba7fbcc5cc4d151accebde
        APR_BRANCH: trunk
        APR_REPO: https://github.com/apache/apr
        APR_VERSION: dda3fc125e854b169d053929b7677012fa409f33
        CONFIG_FILE: server.conf
        START_SCRIPT: start.sh
      context: ./images/apache_httpd
    x-props:
      role: origin
  apache_httpd_h2_proxy:
    build:
      args:
        APP_BRANCH: trunk
        APP_REPO: https://github.com/apache/httpd
        APP_VERSION: d7dec4f6765c2bcb25ba7fbcc5cc4d151accebde
        APR_BRANCH: trunk
        APR_REPO: https://github.com/apache/apr
        APR_VERSION: dda3fc125e854b169d053929b7677012fa409f33
        CONFIG_FILE: proxy-h2.conf
        START_SCRIPT: start_proxy.sh
      context: ./images/apache_httpd
    x-props:
      role: h2_transducer
  apache_httpd_proxy:
    build:
      args:
        APP_BRANCH: trunk
        APP_REPO: https://github.com/apache/httpd
        APP_VERSION: d7dec4f6765c2bcb25ba7fbcc5cc4d151accebde
        APR_BRANCH: trunk
        APR_REPO: https://github.com/apache/apr
        APR_VERSION: dda3fc125e854b169d053929b7677012fa409f33
        CONFIG_FILE: proxy.conf
        START_SCRIPT: start_proxy.sh
      context: ./images/apache_httpd
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  apache_tomcat:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/apache/tomcat
        APP_VERSION: a19246297e83410902c8f3373251547d0c2c5bab
      context: ./images/apache_tomcat
    x-props:
      role: origin
  apache_traffic_server:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/apache/trafficserver
        APP_VERSION: ab0a575ef01705bce19968409ca34bd738e4daae
        CACHE_CONFIG: cache.config
        RECORDS_YAML: records.yaml
        REMAP_CONFIG: remap.config
      context: ./images/apache_traffic_server
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  aws_c_http:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/awslabs/aws-c-http
        APP_VERSION: 07302aa4a2892adbbf95ee6d458db3bb240030d3
        AWS_C_CAL_BRANCH: main
        AWS_C_CAL_REPO: https://github.com/awslabs/aws-c-cal
        AWS_C_CAL_VERSION: de3b28840a59339f24012f25348f2c70a7ea45d6
        AWS_C_COMMON_BRANCH: main
        AWS_C_COMMON_REPO: https://github.com/awslabs/aws-c-common
        AWS_C_COMMON_VERSION: 95515a8b1ff40d5bb14f965ca4cbbe99ad1843df
        AWS_C_COMPRESSION_BRANCH: main
        AWS_C_COMPRESSION_REPO: https://github.com/awslabs/aws-c-compression
        AWS_C_COMPRESSION_VERSION: d8264e64f698341eb03039b96b4f44702a9b3f83
        AWS_C_IO_BRANCH: main
        AWS_C_IO_REPO: https://github.com/awslabs/aws-c-io
        AWS_C_IO_VERSION: 110edf8217309e2a8724aaee7076192efa48545a
        AWS_LC_BRANCH: main
        AWS_LC_REPO: https://github.com/aws/aws-lc
        AWS_LC_VERSION: 2929213abe7808cf26e3d11f2f5680cd55e0f559
        S2N_TLS_BRANCH: main
        S2N_TLS_REPO: https://github.com/aws/s2n-tls
        S2N_TLS_VERSION: bcb3f283faf030265ece9a16174b52ca822c5570
      context: ./images/aws_c_http
    x-props:
      role: origin
  cpp_httplib:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/yhirose/cpp-httplib
        APP_VERSION: 27ee115a60522c16c1e153c4e3de777a8f9b794a
      context: ./images/cpp_httplib
    x-props:
      role: origin
  eclipse_grizzly:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/eclipse-ee4j/grizzly
        APP_VERSION: 858c9e7e388a7537e66b2944161ad1805083add4
      context: ./images/eclipse_grizzly
    x-props:
      role: origin
  eclipse_jetty:
    build:
      args:
        APP_BRANCH: jetty-12.1.x
        APP_REPO: https://github.com/eclipse/jetty.project
        APP_VERSION: c0c432b079d6d506d1e598a4d1a6cc7a3a381af4
      context: ./images/eclipse_jetty
    x-props:
      role: origin
  envoy:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/envoyproxy/envoy
        APP_VERSION: 7dd88485de36538c021a3af2129a243f21e17c35
        BAZELISK_TAG: v1.27.0
        CONFIG_FILE: envoy.yaml
      context: ./images/envoy
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  envoy_h2:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/envoyproxy/envoy
        APP_VERSION: 7dd88485de36538c021a3af2129a243f21e17c35
        BAZELISK_TAG: v1.27.0
        CONFIG_FILE: envoy-h2.yaml
      context: ./images/envoy
    x-props:
      role: h2_transducer
  fasthttp:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/valyala/fasthttp
        APP_VERSION: ec00ff0e62071e5915a988ee79391b65e84b5453
      context: ./images/fasthttp
    x-props:
      role: origin
  go_stdlib:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/golang/go
        APP_SOURCE: app.go
        APP_VERSION: 8dd5b13abcb64993959ea02c3f664654af6367a9
        GO_BOOTSTRAP_VERSION: 1.25.0
        START_SCRIPT: start.sh
      context: ./images/go_stdlib
    x-props:
      requires-tls: true
      role: origin
  go_stdlib_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/golang/go
        APP_SOURCE: proxy.go
        APP_VERSION: 8dd5b13abcb64993959ea02c3f664654af6367a9
        GO_BOOTSTRAP_VERSION: 1.25.0
        START_SCRIPT: start_proxy.sh
      context: ./images/go_stdlib
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  gunicorn:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/benoitc/gunicorn
        APP_VERSION: 56b5ad87f8d72a674145c273ed8f547513c2b409
      context: ./images/gunicorn
    x-props:
      role: origin
  h2o:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/h2o/h2o.git
        APP_VERSION: 607b732b668a06826709c0f72bd4fd680f2372bc
        CONFIG_FILE: h2o.conf
        PARSER_BRANCH: master
        PARSER_REPO: https://github.com/h2o/picohttpparser
        PARSER_VERSION: f8326098f63eefabfa2b6ec595d90e9ed5ed958a
        START_SCRIPT: start.sh
      context: ./images/h2o
    x-props:
      requires-tls: true
      role: origin
  h2o_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/h2o/h2o.git
        APP_VERSION: 607b732b668a06826709c0f72bd4fd680f2372bc
        CONFIG_FILE: h2o-proxy.conf
        PARSER_BRANCH: master
        PARSER_REPO: https://github.com/h2o/picohttpparser
        PARSER_VERSION: f8326098f63eefabfa2b6ec595d90e9ed5ed958a
        START_SCRIPT: start_proxy.sh
      context: ./images/h2o
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  haproxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/haproxy/haproxy
        APP_VERSION: 91eb9b082b6d770bd17476e0631f032d82fc0901
        CONFIG_FILE: haproxy.conf
        START_SCRIPT: start.sh
      context: ./images/haproxy
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  haproxy_fcgi:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/haproxy/haproxy
        APP_VERSION: 91eb9b082b6d770bd17476e0631f032d82fc0901
        CONFIG_FILE: haproxy-fcgi.conf
        START_SCRIPT: start_fcgi.sh
      context: ./images/haproxy
    x-props:
      role: origin
  haproxy_h2:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/haproxy/haproxy
        APP_VERSION: 91eb9b082b6d770bd17476e0631f032d82fc0901
        CONFIG_FILE: haproxy-h2.conf
        START_SCRIPT: start.sh
      context: ./images/haproxy
    x-props:
      role: h2_transducer
  hyper:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/hyperium/hyper
        APP_VERSION: 2968dbcd75509263907ec3a1f964a4c4465c0ebb
        HYPER_UTIL_BRANCH: master
        HYPER_UTIL_REPO: https://github.com/hyperium/hyper-util
        HYPER_UTIL_VERSION: 71ef2fc3309829a5fbdbbdc86c97cc2384bec521
      context: ./images/hyper
    x-props:
      role: origin
  hypercorn:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/pgjones/hypercorn
        APP_VERSION: 0e2311f1ad2ae587aaa590f3824f59aa5dc0e770
      context: ./images/hypercorn
    x-props:
      requires-tls: true
      role: origin
  ktor:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/ktorio/ktor
        APP_VERSION: 18a6e978fcbf44b7c455b9c54ff2c51b2b205ee0
        KOTLIN_COMPILER_ZIP_URL: https://github.com/JetBrains/kotlin/releases/download/v2.1.21/kotlin-compiler-2.1.21.zip
      context: ./images/ktor
    x-props:
      role: origin
  libevent:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/libevent/libevent
        APP_VERSION: a994a52d5373d6284b27576efa617aff2baa7bd3
      context: ./images/libevent
    x-props:
      role: origin
  libmicrohttpd:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://git.gnunet.org/libmicrohttpd.git
        APP_VERSION: ba8f88fcb47cfb0de5237d47f9487cd1f350cbe9
      context: ./images/libmicrohttpd
    x-props:
      role: origin
  libsoup:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://gitlab.gnome.org/GNOME/libsoup.git
        APP_VERSION: cc1d4389ffd1b70f7eaee3cecfa66664aff2a5ef
      context: ./images/libsoup
    x-props:
      role: origin
  lighttpd:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/lighttpd/lighttpd1.4
        APP_VERSION: 6840488a99ed41f9ad7aa2680cbe628a4f2f0a06
        CONFIG_FILE: server.conf
        START_SCRIPT: start.sh
      context: ./images/lighttpd
    x-props:
      role: origin
  lighttpd_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/lighttpd/lighttpd1.4
        APP_VERSION: 6840488a99ed41f9ad7aa2680cbe628a4f2f0a06
        CONFIG_FILE: proxy.conf
        START_SCRIPT: start_proxy.sh
      context: ./images/lighttpd
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  mongoose:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/cesanta/mongoose
        APP_VERSION: 236724ea2948396b4f83b68c366a169e795aa7ef
        SERVER_SOURCE: main.c
      context: ./images/mongoose
    x-props:
      role: origin
  netty:
    build:
      args:
        APP_BRANCH: 4.2
        APP_REPO: https://github.com/netty/netty
        APP_VERSION: 2eadf3efd35a7fce1f02ab69bf8ae8eb92787df8
      context: ./images/netty
    x-props:
      role: origin
  nghttpx:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/nghttp2/nghttp2
        APP_VERSION: 05d77b6d30d578cc215de0ad0e8e83bbef6197a6
      context: ./images/nghttpx
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  nghttpx_h2:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/nghttp2/nghttp2
        APP_VERSION: 05d77b6d30d578cc215de0ad0e8e83bbef6197a6
        PARAMS: ;;proto=h2
      context: ./images/nghttpx
    x-props:
      role: h2_transducer
  nginx:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/nginx/nginx
        APP_VERSION: 6ed1188411882086e3518eda779ab782d8ab4d3f
        CONFIG_FILE: nginx.conf
        START_SCRIPT: start.sh
      context: ./images/nginx
    x-props:
      role: origin
  nginx_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/nginx/nginx
        APP_VERSION: 6ed1188411882086e3518eda779ab782d8ab4d3f
        CONFIG_FILE: nginx-proxy.conf
        START_SCRIPT: start_proxy.sh
      context: ./images/nginx
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  node_stdlib:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/nodejs/node
        APP_VERSION: bed8e2aa7480fa612599cb66b5741a01276d868e
        SCRIPT: app.js
      context: ./images/node_stdlib
    x-props:
      requires-tls: true
      role: origin
  openbsd_httpd:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/kenballus/obhttpd-linux
        APP_VERSION: 13177feda2e869a13b07221385e850d07b3f16b1
        OPENBSD_SRC_BRANCH: master
        OPENBSD_SRC_REPO: https://github.com/openbsd/src
        OPENBSD_SRC_VERSION: d972c9d879517f8e31e868ef83cdb4014e1783a7
      context: ./images/openbsd_httpd
    x-props:
      role: origin
  openlitespeed:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/litespeedtech/openlitespeed
        APP_VERSION: 44ca88c06b709efbf83098c35b4573e0b2244723
        CONFIG_FILE: server_config.conf
        START_SCRIPT: start.sh
        VHOST_CONFIG_FILE: server_vhost.conf
      context: ./images/openlitespeed
    x-props:
      role: origin
  openlitespeed_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/litespeedtech/openlitespeed
        APP_VERSION: 44ca88c06b709efbf83098c35b4573e0b2244723
        CONFIG_FILE: proxy_config.conf
        START_SCRIPT: start_proxy.sh
        VHOST_CONFIG_FILE: proxy_vhost.conf
      context: ./images/openlitespeed
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  openwrt_uhttpd:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://git.openwrt.org/project/uhttpd.git
        APP_VERSION: ebb92e6b339b88bbc6b76501b6603c52d4887ba1
        LIBUBOX_BRANCH: master
        LIBUBOX_REPO: https://git.openwrt.org/project/libubox.git
        LIBUBOX_VERSION: edaf77da740d13bb46e460695709bab6fe395345
        LIBUBUS_BRANCH: master
        LIBUBUS_REPO: https://git.openwrt.org/project/ubus.git
        LIBUBUS_VERSION: 2737da3819fefafa5b63d5f82efb77ff0032a5d8
        UCODE_BRANCH: master
        UCODE_REPO: https://github.com/jow-/ucode
        UCODE_VERSION: 48ed18d2532e9197212c34473ab926c7b5e8ac73
        USTREAM_SSL_BRANCH: master
        USTREAM_SSL_REPO: https://git.openwrt.org/project/ustream-ssl.git
        USTREAM_SSL_VERSION: 5a81c108d20e24724ed847cc4be033f2a74e6635
      context: ./images/openwrt_uhttpd
    x-props:
      role: origin
  pound:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/graygnuorg/pound
        APP_VERSION: 3c978f574adefd881be3118b294e683bfe9a4473
      context: ./images/pound
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  protocol_http1:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/socketry/protocol-http1
        APP_VERSION: 5b2149ccfd938f3e8d91a9b9f182e790fc5ae92b
      context: ./images/protocol_http1
    x-props:
      role: origin
  puma:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/puma/puma
        APP_VERSION: 4f6b694477b164054d1d20a97c8fd4440874ef84
      context: ./images/puma
    x-props:
      role: origin
  squid:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/squid-cache/squid
        APP_VERSION: 8c87386f93051503909f74e9c6e3bcd5ab4f4ef1
      context: ./images/squid
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  tornado:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/tornadoweb/tornado
        APP_VERSION: 1ee8923bd19b3493365e938506dd81147f41eb6d
      context: ./images/tornado
    x-props:
      role: origin
  twisted:
    build:
      args:
        APP_BRANCH: trunk
        APP_REPO: https://github.com/twisted/twisted
        APP_VERSION: 750df9b2eacba9e052a40dc6b04428b3562142e3
      context: ./images/twisted
    x-props:
      role: origin
  undertow:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/undertow-io/undertow
        APP_VERSION: 6d0523306e0be0e6ff45d31118d3a9031fa81210
      context: ./images/undertow
    x-props:
      role: origin
  uvicorn:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/Kludex/uvicorn
        APP_VERSION: 8ae0bcbecb0a655789abf0c2dd4200848fc68a30
      context: ./images/uvicorn
    x-props:
      role: origin
  varnish:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/varnishcache/varnish-cache
        APP_VERSION: fd07647694906ecdceec041d9ac60588d75e6787
      context: ./images/varnish
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  waitress:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/Pylons/waitress
        APP_VERSION: 64c920fc9c85f4d0faf5687f3e86da66d1891975
      context: ./images/waitress
    x-props:
      role: origin
  webrick:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/ruby/webrick
        APP_VERSION: 5584117c9e214c993754c703492aacb6a5d50b97
      context: ./images/webrick
    x-props:
      role: origin
  yahns:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://yhbt.net/yahns.git
        APP_VERSION: 6a1ce36be271630f6b97bc415f4961605a562ef0
        CONFIG_FILE: server.ru
        PARSER_BRANCH: master
        PARSER_REPO: https://yhbt.net/unicorn.git
        PARSER_VERSION: e9862718a7e98d3cbec74fc92ffc17a1023e18da
        START_SCRIPT: start.sh
      context: ./images/yahns
    x-props:
      role: origin
  yahns_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://yhbt.net/yahns.git
        APP_VERSION: 6a1ce36be271630f6b97bc415f4961605a562ef0
        CONFIG_FILE: proxy.ru
        PARSER_BRANCH: master
        PARSER_REPO: https://yhbt.net/unicorn.git
        PARSER_VERSION: e9862718a7e98d3cbec74fc92ffc17a1023e18da
        START_SCRIPT: start_proxy.sh
      context: ./images/yahns
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
