services:
  aiohttp:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/aio-libs/aiohttp
        APP_VERSION: 358789573b12f201b63a7fd4b166fa5b89963bb6
      context: ./images/aiohttp
    x-props:
      role: origin
  apache_httpd:
    build:
      args:
        APP_BRANCH: trunk
        APP_REPO: https://github.com/apache/httpd
        APP_VERSION: 713100ca6a88eaf270285f50e56af070bb9feed2
        APR_BRANCH: trunk
        APR_REPO: https://github.com/apache/apr
        APR_VERSION: 1fc7e3632739f8ae6995344e9e11bfe50a04c47a
        CONFIG_FILE: server.conf
        START_SCRIPT: start.sh
      context: ./images/apache_httpd
    x-props:
      role: origin
  apache_httpd_h2_proxy:
    build:
      args:
        APP_BRANCH: trunk
        APP_REPO: https://github.com/apache/httpd
        APP_VERSION: 713100ca6a88eaf270285f50e56af070bb9feed2
        APR_BRANCH: trunk
        APR_REPO: https://github.com/apache/apr
        APR_VERSION: 1fc7e3632739f8ae6995344e9e11bfe50a04c47a
        CONFIG_FILE: proxy-h2.conf
        START_SCRIPT: start_proxy.sh
      context: ./images/apache_httpd
    x-props:
      role: h2_transducer
  apache_httpd_proxy:
    build:
      args:
        APP_BRANCH: trunk
        APP_REPO: https://github.com/apache/httpd
        APP_VERSION: 713100ca6a88eaf270285f50e56af070bb9feed2
        APR_BRANCH: trunk
        APR_REPO: https://github.com/apache/apr
        APR_VERSION: 1fc7e3632739f8ae6995344e9e11bfe50a04c47a
        CONFIG_FILE: proxy.conf
        START_SCRIPT: start_proxy.sh
      context: ./images/apache_httpd
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  apache_tomcat:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/apache/tomcat
        APP_VERSION: bc7be69ef375ad6c249a156aeb309d2931d12903
      context: ./images/apache_tomcat
    x-props:
      role: origin
  apache_traffic_server:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/apache/trafficserver
        APP_VERSION: ee7a5d8f4815d456657853fa9992675177d73711
        CACHE_CONFIG: cache.config
        RECORDS_YAML: records.yaml
        REMAP_CONFIG: remap.config
      context: ./images/apache_traffic_server
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  appweb:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/embedthis/appweb
        APP_VERSION: fae82cfc8913a1c0ec976a23cfd39fdbcee464c2
        CONFIG_FILE: server.conf
        MAKEME_BRANCH: master
        MAKEME_REPO: https://github.com/embedthis/makeme
        MAKEME_VERSION: 21a1c7df0da3063e44f99d0d3aabe1e0ad1d6161
      context: ./images/appweb
    x-props:
      role: origin
  aws_c_http:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/awslabs/aws-c-http
        APP_VERSION: 283399e60dc99386875b5a6beb04fa6cb7922f00
        AWS_C_CAL_BRANCH: main
        AWS_C_CAL_REPO: https://github.com/awslabs/aws-c-cal
        AWS_C_CAL_VERSION: c3fd3ed584a84f4fd758e3f41fba223e36579d0a
        AWS_C_COMMON_BRANCH: main
        AWS_C_COMMON_REPO: https://github.com/awslabs/aws-c-common
        AWS_C_COMMON_VERSION: cde20c682d46ed8ee03ab6412c3f386f5dbdd0c7
        AWS_C_COMPRESSION_BRANCH: main
        AWS_C_COMPRESSION_REPO: https://github.com/awslabs/aws-c-compression
        AWS_C_COMPRESSION_VERSION: d8264e64f698341eb03039b96b4f44702a9b3f83
        AWS_C_IO_BRANCH: main
        AWS_C_IO_REPO: https://github.com/awslabs/aws-c-io
        AWS_C_IO_VERSION: eab7c64a5485b3f2a30877ad854d0c48726c64ec
        AWS_LC_BRANCH: main
        AWS_LC_REPO: https://github.com/aws/aws-lc
        AWS_LC_VERSION: d6cc94d218e684bae99927215f824d6e2d1d4347
        S2N_TLS_BRANCH: main
        S2N_TLS_REPO: https://github.com/aws/s2n-tls
        S2N_TLS_VERSION: 83dcc99c93a17fcb8f4aeffaf543d962fa672cf7
      context: ./images/aws_c_http
    x-props:
      role: origin
  cpp_httplib:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/yhirose/cpp-httplib
        APP_VERSION: fbd6ce7a3f9878a8a433e37d0c2ac9f7e2dcabd7
      context: ./images/cpp_httplib
    x-props:
      role: origin
  eclipse_grizzly:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/eclipse-ee4j/grizzly
        APP_VERSION: 6569c55261be0af1f41d8a66a004238df3f27239
      context: ./images/eclipse_grizzly
    x-props:
      role: origin
  eclipse_jetty:
    build:
      args:
        APP_BRANCH: jetty-12.1.x
        APP_REPO: https://github.com/eclipse/jetty.project
        APP_VERSION: 8972d360474ba76dac4db1eeaf551a889e887801
      context: ./images/eclipse_jetty
    x-props:
      role: origin
  envoy:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/envoyproxy/envoy
        APP_VERSION: 4a060ee67c088e0340e0072ab9e7e25e63d599ad
        BAZELISK_TAG: v1.26.0
        CONFIG_FILE: envoy.yaml
      context: ./images/envoy
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  envoy_h2:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/envoyproxy/envoy
        APP_VERSION: 4a060ee67c088e0340e0072ab9e7e25e63d599ad
        BAZELISK_TAG: v1.26.0
        CONFIG_FILE: envoy-h2.yaml
      context: ./images/envoy
    x-props:
      role: h2_transducer
  fasthttp:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/valyala/fasthttp
        APP_VERSION: 7ad0219d24bb082dca5e70e2bd221fe3dc5e4fb5
      context: ./images/fasthttp
    x-props:
      role: origin
  go_stdlib:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/golang/go
        APP_SOURCE: app.go
        APP_VERSION: 5a56d8848b4ffb79c5ccc11ec6fa01823a91aaf8
        GO_BOOTSTRAP_VERSION: 1.25.0
        START_SCRIPT: start.sh
      context: ./images/go_stdlib
    x-props:
      requires-tls: true
      role: origin
  go_stdlib_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/golang/go
        APP_SOURCE: proxy.go
        APP_VERSION: 5a56d8848b4ffb79c5ccc11ec6fa01823a91aaf8
        GO_BOOTSTRAP_VERSION: 1.25.0
        START_SCRIPT: start_proxy.sh
      context: ./images/go_stdlib
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  gunicorn:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/benoitc/gunicorn
        APP_VERSION: a86ea1e4e6c271d1cd1823c7e14490123f9238fe
      context: ./images/gunicorn
    x-props:
      role: origin
  h2o:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/h2o/h2o.git
        APP_VERSION: ffab9c49c33b1f0e9aec9804028156aae9db8ef0
        CONFIG_FILE: h2o.conf
        PARSER_BRANCH: master
        PARSER_REPO: https://github.com/h2o/picohttpparser
        PARSER_VERSION: f8326098f63eefabfa2b6ec595d90e9ed5ed958a
        START_SCRIPT: start.sh
      context: ./images/h2o
    x-props:
      requires-tls: true
      role: origin
  h2o_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/h2o/h2o.git
        APP_VERSION: ffab9c49c33b1f0e9aec9804028156aae9db8ef0
        CONFIG_FILE: h2o-proxy.conf
        PARSER_BRANCH: master
        PARSER_REPO: https://github.com/h2o/picohttpparser
        PARSER_VERSION: f8326098f63eefabfa2b6ec595d90e9ed5ed958a
        START_SCRIPT: start_proxy.sh
      context: ./images/h2o
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  haproxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/haproxy/haproxy
        APP_VERSION: 2c7e05f80e3b4bacad84eb213b9db3bc5d8963dc
        CONFIG_FILE: haproxy.conf
        START_SCRIPT: start.sh
      context: ./images/haproxy
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  haproxy_fcgi:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/haproxy/haproxy
        APP_VERSION: 2c7e05f80e3b4bacad84eb213b9db3bc5d8963dc
        CONFIG_FILE: haproxy-fcgi.conf
        START_SCRIPT: start_fcgi.sh
      context: ./images/haproxy
    x-props:
      role: origin
  haproxy_h2:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/haproxy/haproxy
        APP_VERSION: 2c7e05f80e3b4bacad84eb213b9db3bc5d8963dc
        CONFIG_FILE: haproxy-h2.conf
        START_SCRIPT: start.sh
      context: ./images/haproxy
    x-props:
      role: h2_transducer
  hyper:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/hyperium/hyper
        APP_VERSION: 400bdfdace8b40e3bdb93c5c6647b6b98211d432
        HYPER_UTIL_BRANCH: master
        HYPER_UTIL_REPO: https://github.com/hyperium/hyper-util
        HYPER_UTIL_VERSION: 00035bac2da1cfa820eda4db7bf7ddcbd30be3c1
      context: ./images/hyper
    x-props:
      role: origin
  hypercorn:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/pgjones/hypercorn
        APP_VERSION: 6cb9c5cc11c5372d59ffb8348345e308bc2f1067
      context: ./images/hypercorn
    x-props:
      requires-tls: true
      role: origin
  ktor:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/ktorio/ktor
        APP_VERSION: b9014b5c072c76ee34c4f629db08b8766e92dd68
        KOTLIN_COMPILER_ZIP_URL: https://github.com/JetBrains/kotlin/releases/download/v2.1.21/kotlin-compiler-2.1.21.zip
      context: ./images/ktor
    x-props:
      role: origin
  libevent:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/libevent/libevent
        APP_VERSION: 112421c8fa4840acd73502f2ab6a674fc025de37
      context: ./images/libevent
    x-props:
      role: origin
  libmicrohttpd:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://git.gnunet.org/libmicrohttpd.git
        APP_VERSION: e9aa6dcdc1a3db145d7a77de3472e0a5e4a8235c
      context: ./images/libmicrohttpd
    x-props:
      role: origin
  libsoup:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://gitlab.gnome.org/GNOME/libsoup.git
        APP_VERSION: 1296cbf983f036f20262c453926dff77e1d6a852
      context: ./images/libsoup
    x-props:
      role: origin
  lighttpd:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/lighttpd/lighttpd1.4
        APP_VERSION: 985914fedc85cff791b89c972d3803ce225b6af3
        CONFIG_FILE: server.conf
        START_SCRIPT: start.sh
      context: ./images/lighttpd
    x-props:
      role: origin
  lighttpd_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/lighttpd/lighttpd1.4
        APP_VERSION: 985914fedc85cff791b89c972d3803ce225b6af3
        CONFIG_FILE: proxy.conf
        START_SCRIPT: start_proxy.sh
      context: ./images/lighttpd
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  mongoose:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/cesanta/mongoose
        APP_VERSION: 8a62633b2f44cedd3150e8546a9182f27ddd62d5
        SERVER_SOURCE: main.c
      context: ./images/mongoose
    x-props:
      role: origin
  netty:
    build:
      args:
        APP_BRANCH: 4.2
        APP_REPO: https://github.com/netty/netty
        APP_VERSION: c90f2de49c718107ce52434250239ddd4d59cb92
      context: ./images/netty
    x-props:
      role: origin
  nghttpx:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/nghttp2/nghttp2
        APP_VERSION: 56d5406bcee92e2528d8b632cbd6cb6cf9569e4e
      context: ./images/nghttpx
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  nghttpx_h2:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/nghttp2/nghttp2
        APP_VERSION: 56d5406bcee92e2528d8b632cbd6cb6cf9569e4e
        PARAMS: ;;proto=h2
      context: ./images/nghttpx
    x-props:
      role: h2_transducer
  nginx:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/nginx/nginx
        APP_VERSION: 446ce033e5b9e192e228638e826f2a39328d879c
        CONFIG_FILE: nginx.conf
        START_SCRIPT: start.sh
      context: ./images/nginx
    x-props:
      role: origin
  nginx_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/nginx/nginx
        APP_VERSION: 446ce033e5b9e192e228638e826f2a39328d879c
        CONFIG_FILE: nginx-proxy.conf
        START_SCRIPT: start_proxy.sh
      context: ./images/nginx
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  node_stdlib:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/nodejs/node
        APP_VERSION: 7c9fbc15bc13aeec1682e191673843e4c41951b1
        SCRIPT: app.js
      context: ./images/node_stdlib
    x-props:
      role: origin
      requires-tls: true
  openbsd_httpd:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/kenballus/obhttpd-linux
        APP_VERSION: 175682bae865cc5c0d924382817b225374f0d19f
        OPENBSD_SRC_BRANCH: master
        OPENBSD_SRC_REPO: https://github.com/openbsd/src
        OPENBSD_SRC_VERSION: e84b755d012d403253bc25892f7ff2c7ea652543
      context: ./images/openbsd_httpd
    x-props:
      role: origin
  openlitespeed:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/litespeedtech/openlitespeed
        APP_VERSION: da5f2e7c1dd2c1cdf5e102c76941b2ad429773b9
        CONFIG_FILE: server_config.conf
        VHOST_CONFIG_FILE: server_vhost.conf
        START_SCRIPT: start.sh
      context: ./images/openlitespeed
    x-props:
      role: origin
  openlitespeed_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/litespeedtech/openlitespeed
        APP_VERSION: da5f2e7c1dd2c1cdf5e102c76941b2ad429773b9
        CONFIG_FILE: proxy_config.conf
        VHOST_CONFIG_FILE: proxy_vhost.conf
        START_SCRIPT: start_proxy.sh
      context: ./images/openlitespeed
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  pound:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/graygnuorg/pound
        APP_VERSION: 4305d977dddb7b91443f745115bc606eecc3d5c5
      context: ./images/pound
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  protocol_http1:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/socketry/protocol-http1
        APP_VERSION: 58d22901b3d00030590a675203508dd71bca4628
      context: ./images/protocol_http1
    x-props:
      role: origin
  puma:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/puma/puma
        APP_VERSION: 6a3ba397cb470188f65eae1a5e0a130803d58b39
      context: ./images/puma
    x-props:
      role: origin
  squid:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/squid-cache/squid
        APP_VERSION: 5750e4fc76b55f7bc27ae8b8953e491991a91e55
      context: ./images/squid
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  tornado:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/tornadoweb/tornado
        APP_VERSION: c2bd430e422fbe0302e0d8d64c4a4d4b826b1825
      context: ./images/tornado
    x-props:
      role: origin
  twisted:
    build:
      args:
        APP_BRANCH: trunk
        APP_REPO: https://github.com/twisted/twisted
        APP_VERSION: aedee3ea72b2c206774fbeae7a54e71939699d54
      context: ./images/twisted
    x-props:
      role: origin
  undertow:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/undertow-io/undertow
        APP_VERSION: 0ea9ca3f1b79389daea2d46aaa33977d5154be15
      context: ./images/undertow
    x-props:
      role: origin
  uvicorn:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/encode/uvicorn
        APP_VERSION: c1144fd4f130388cffc05ee17b08747ce8c1be11
      context: ./images/uvicorn
    x-props:
      role: origin
  varnish:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/varnishcache/varnish-cache
        APP_VERSION: b3bec38045f7f0bc7aab3a75024136d0d14a9bf5
      context: ./images/varnish
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
  waitress:
    build:
      args:
        APP_BRANCH: main
        APP_REPO: https://github.com/Pylons/waitress
        APP_VERSION: 64c920fc9c85f4d0faf5687f3e86da66d1891975
      context: ./images/waitress
    x-props:
      role: origin
  webrick:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://github.com/ruby/webrick
        APP_VERSION: ea124002ee5ff43b6cf846931b2cb898b3f47819
      context: ./images/webrick
    x-props:
      role: origin
  yahns:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://yhbt.net/yahns.git
        APP_VERSION: 6a1ce36be271630f6b97bc415f4961605a562ef0
        CONFIG_FILE: server.ru
        PARSER_BRANCH: master
        PARSER_REPO: https://yhbt.net/unicorn.git
        PARSER_VERSION: e9862718a7e98d3cbec74fc92ffc17a1023e18da
        START_SCRIPT: start.sh
      context: ./images/yahns
    x-props:
      role: origin
  yahns_proxy:
    build:
      args:
        APP_BRANCH: master
        APP_REPO: https://yhbt.net/yahns.git
        APP_VERSION: 6a1ce36be271630f6b97bc415f4961605a562ef0
        CONFIG_FILE: proxy.ru
        PARSER_BRANCH: master
        PARSER_REPO: https://yhbt.net/unicorn.git
        PARSER_VERSION: e9862718a7e98d3cbec74fc92ffc17a1023e18da
        START_SCRIPT: start_proxy.sh
      context: ./images/yahns
    volumes:
    - ./tools:/tools
    x-props:
      role: transducer
